<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h2>Pledges</h2>

  <!-- Add new pledge form -->
  <form role="form" class="form-inline" ng-submit="addPledge()">
    <!--<div class="row"> -->
      <div class="form-group">
        <label>
          I will vote for 
        </label>
        <input type="text" ng-model="formData.candidate" placeholder="(candidate or incumbent)" class="form-control input-lg text-center">
      </div>
      <div class="form-group">
        <label>
          if he/she 
        </label>
        <select class="form-control" ng-model="form.action" ng-options="a.label for a in form.actions" required>
      </div>
      <div class="form-group">
        <input type="text" ng-model="formData.subject" placeholder="Topic or Ideology" class="form-control input-lg text-center">
      </div>
      <div class="form-group">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Pledge">
        </span>
      </div>
    <!--</div>-->
  </form>
  <p></p>

  <ul class="list-group">
    <li ng-repeat="pledge in pledges" class="list-group-item">
      <label>
       {{ pledge.commits }}
       <input type="checkbox" ng-click="commitPledge(pledge)" aria-label="Pledge">
      </label>
      <label>
       <!--  <input type="checkbox" ng-click="removePledge(pledge._id, $index)" aria-label="Remove"> -->
        {{pledge.text}}
      </label>
    </li>
  </ul>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
